[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/hychen/hugo-theme-meme.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
